<div id="cesiumContainer">
    <div id="cesiumViewer"></div>
    <div id="cesiumToolbar">
        <button id="playButton">Play</button>
        <button id="pauseButton">Pause</button>
    </div>
</div>