# Python
__pycache__/
logic/3Dvisualizer/
public/
views/
logic/filtering/__pycache__/
logic/filtering/README.md
data/modifieddata/
logic/3Dvisualizer/
public/
views/
logic/filtering/__pycache__/
logic/filtering/README.md
data/modifieddata/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.env
.env
.venv
venv/
ENV/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Data
*.csv
*.tsv
*.log
# data/rawdata/
# data/modifieddata/

# Node
node_modules/

# Others
*.swp
*.bak
*.tmp

# Ignore public build outputs
public/*.js
public/*.map
